
.recycle-bin-container{
  display: flex;
  flex-direction: column;

  .top-switches{
    margin: 0 auto;

    .switch-toggle {
      float: left;
      background: #6aa7f7;
      border-radius: 10px;
    
      input {
        position: absolute;
        opacity: 0;
      }
      input + label {
        padding: 7px;
        float:left;
        color: #fff;
        cursor: pointer;
      }
      input:checked + label {
        background: #167bff;
        border-radius: 10px;
      }
      label{
        cursor: pointer;
        margin: 0;
      }
    }
  }
}