#add-ticket-btn{
    display: block;
    width:80%;
    margin: 20px auto;
    background-color:rgb(176, 200, 248);
    border-color: rgb(176, 200, 248);
}
#add-ticket-btn:hover{
    background-color:rgb(126, 150, 200);
}