.add-user-button{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: rgb(176, 200, 248);
    color:#fff;
    border: none;
    display: block;
    border-radius: 5px;
    margin: 10px auto;
    outline: 0;
    cursor: pointer;
}
.add-user-button:hover{
    background-color: rgb(126, 150, 200);
}
.new-user-form{
    display: flex;
    flex-direction: column;
        
}
.name-inp{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    outline: 0;
    text-align: center;
    border: 1px solid rgb(176, 200, 248);
}
.name-inp:hover, .name-inp:focus{
    border:1px solid #7DB32E;
}
.close-btn{
    background-color:rgb(176, 200, 248);
    border: none;
}
.close-btn:hover{
    background-color: rgb(126, 150, 200);
}